<div class="row">
  <div class="col-md-4">
    <img class="img-responsive center-block" src="{{tutor.image}}"
      style="width: 250px; margin-bottom: 25px; transition: opacity 0.5s; opacity:0;" onload="this.style.opacity=1;">
    <br>
  </div>
  <div class="col-md-4">
    <h1>{{tutor.name}}</h1>
    <p>{{tutor.Category.name}}</p>
    <div class="well">
      <class="list-unstyled">
        <li><strong>Tel:</strong> {{tutor.tel}}</li>
        <li><strong>瀏覽次數:</strong> {{ tutor.viewCounts }}</li>
        <li><strong>評論數:</strong> -</li>
        </ul>
    </div>
  </div>
  
  <br>
  <hr>
  <div class="col-md-12">
    <strong>introduction</strong>
    <p style="white-space: break-spaces;">{{tutor.introduction}}</p>

    <strong>teaching style</strong>
    <p style="white-space: break-spaces;">{{tutor.teachingStyle}}</p>
  </div>
</div>
<br>
<hr>
