<div class="form-row mb-3">
  <label class="form-label" for="name">Name</label>
  <input class="form-control" type="text" name="name" id="name" placeholder="Enter name" value="{{tutor.name}}" required>
</div>
<div class="form-row mb-3">
  <label class="form-label" for="categoryId">Category</label>
  <select class="form-control" id="categoryId" name="categoryId">
    {{#each categories}}
    <option value="{{this.id}}" {{#ifCond this.id ../tutor.categoryId}} selected {{/ifCond}}>
      {{this.name}}
    </option>
    {{/each}}
  </select>
</div>
<div class="form-row mb-3">
  <label class="form-label" for="tel">Tel</label>
  <input class="form-control" type="text" name="tel" id="tel" placeholder="Enter tel" value="{{tutor.tel}}" required>
</div>
<div class="form-row mb-3">
  <label class="form-label" for="introduction">introduction</label>
  <textarea class="form-control" id="introduction" name="introduction" rows="3"
    required>{{tutor.introduction}}</textarea>
</div>
<div class="form-row mb-3">
  <label class="form-label" for="teachingStyle">Teaching Style</label>
  <textarea class="form-control" id="teachingStyle" name="teachingStyle" rows="3" required>{{tutor.teachingStyle}}</textarea>
</div>
<div class="form-row mb-3">
  <label class="form-label" for="tutorTime">課程時間</label>
  <input class="form-control" type="text" name="tutorTime" id="tutorTime" placeholder="Enter tutorTime" value="{{tutor.tutorTime}}" required>
</div>
<div class="form-row mb-3">
  <label class="form-label" for="videoLink">課程視訊連結</label>
  <input class="form-control" type="text" name="videoLink" id="videoLink" placeholder="Enter videoLink" value="{{tutor.videoLink}}" required>
</div>


<div class="form-row mb-4">
  <label class="form-label mb-3" for="book">開放預約時間</label>
  <div style="display: flex; justify-content: space-between;">
    <div>
      <input type="checkbox" id="Monday" name="booking[]" value="Monday"/>
      <label for="Monday">Monday</label>
    </div>
    <div>
      <input type="checkbox" id="Tuesday"  name="booking[]" value="Tuesday"/>
      <label for="Tuesday">Tuesday</label>
    </div>
    <div>
      <input type="checkbox" id="Wednesday" name="booking[]" value="Wednesday"/>
      <label for="Wednesday">Wednesday</label>
    </div>
    <div>
      <input type="checkbox" id="Thursday" name="booking[]" value="Thursday"/>
      <label for="Thursday">Thursday</label>
    </div>
    <div>
      <input type="checkbox" id="Friday" name="booking[]" value="Friday"/>
      <label for="Friday">Friday</label>
    </div>
    <div>
      <input type="checkbox" id="Saturday" name="booking[]" value="Saturday"/>
      <label for="Saturday">Saturday</label>
    </div>
    <div>
      <input type="checkbox" id="Sunday" name="booking[]" value="Sunday"/>
      <label for="Sunday">Sunday</label>
    </div>
  </div>
</div>

<div class="form-row mb-3">
  <label class="form-label" for="image">課程照片</label>
  <input class="form-control" type="file" class="form-control-file" id="image" name="image">
</div>
<button type="submit" class="btn btn-primary">Submit</button>
<a class="btn btn-outline-secondary" href="javascript:history.back()">Back</a>
