<div class="row" id="search-bar">
  <div class="col-12">
    <form action="/search">
      <div class="input-group mb-3">
        <input type="text" name="keyword" class="form-control" placeholder="Enter tutor name to search..." value="{{keyword}}"
          aria-label="Tutor Name..." aria-describedby="search-button">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="submit" id="search-button">Search</button>
        </div>
      </div>
    </form>
  </div>
</div>

<ul class="nav nav-pills">
  <li class="nav-item">
    <a class="nav-link {{#ifCond '' categoryId}}active{{/ifCond}}" href="?categoryId=">全部</a>
  </li>
  {{#each categories}}
  <li class="nav-item">
    <a class="nav-link {{#ifCond this.id ../categoryId}}active{{/ifCond}}"
      href="?categoryId={{this.id}}">{{this.name}}</a>
  </li>
  {{/each}}
</ul>

<div class="row mt-3">
  {{#each tutors}}
  <div class="col-md-4">
    <div class="card mb-4 shadow-sm">
      <a href="/tutors/{{this.id}}">
        <img class="card-img-top img-fluid" src="{{this.image}}" alt="Card image cap" width="286px" height="180px"
          style="transition: opacity 0.5s; opacity:0;" onload="this.style.opacity=1;">
      </a>
      <div class="card-body">
        <p class="card-text">
          <a href="/tutors/{{this.id}}">
            {{this.name}}
          </a>
        </p>
        <span class="badge bg-secondary">{{this.Category.name}}</span>
        <p class="card-text text-truncate">{{this.introduction}}</p>
      </div>
    </div>
  </div>
  {{/each}}
</div>

<nav class="mt-3" aria-label="page navigation">
  <ul class="pagination">
    <li class="page-item {{#ifCond pagination.currentPage 1}}disabled{{/ifCond}}">
      <a class="page-link" href="/tutors?page={{pagination.prev}}&categoryId={{categoryId}}" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    {{#each pagination.pages}}
    {{#ifCond this ../pagination.currentPage}}
    <li class="page-item active"><a class="page-link" href="#">{{this}}</a></li>
    {{else}}
    <li class="page-item">
      <a class="page-link" href="/tutors?page={{this}}&categoryId={{../categoryId}}">{{this}}</a>
    </li>
    {{/ifCond}}
    {{/each}}
    <li class="page-item {{#ifCond pagination.currentPage pagination.totalPage}}disabled{{/ifCond}}">
      <a class="page-link" href="/tutors?page={{pagination.next}}&categoryId={{categoryId}}" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>