<div class="row">
  <div class="col-md-12">
    <h1>{{tutor.name}}</h1>
    <p>{{tutor.Category.name}}</p>
  </div>
  <div class="col-md-4">
    <img class="img-responsive center-block" src="{{tutor.image}}"
      style="width: 250px; margin-bottom: 25px; transition: opacity 0.5s; opacity:0;" onload="this.style.opacity=1;">
    <br>
    <div class="well">
      <class="list-unstyled">
        <li><strong>Tel:</strong> {{tutor.tel}}</li>
        <li><strong>瀏覽次數:</strong> {{ tutor.viewCounts }}</li>
        <li><strong>評論數:</strong> -</li>
      </ul>
    </div>
    <br>
  </div>
  <div class="col-md-8">
    <strong>介紹:</strong>
    <p style="white-space: break-spaces;">{{tutor.introduction}}</p>
    <hr>
    <strong>教學模式:</strong>
    <p style="white-space: break-spaces;">{{tutor.teachingStyle}}</p>
  </div>
  <hr>
</div>
{{!-- Comment --}}
<h3 class="mb-3">所有評論：</h3>
{{#each tutor.Comments}}
{{#if ../user.isAdmin}}
<form action="/comments/{{this.id}}?_method=DELETE" method="POST" class="float-end">
  <button type="submit" class="btn btn-danger">Delete</button>
</form>
{{/if}}
<blockquote class="blockquote mb-0">
  <h4><a href="/users/{{this.User.id}}">{{this.User.name}}</a></h4>
  <p>{{this.text}}</p>
  <footer class="blockquote-footer">{{relativeTimeFromNow this.createdAt}}</footer>
</blockquote>
<hr />
{{/each}}
<form action="/comments" method="POST">
  <div class="form-row mb-3">
    <label class="form-label" for="text">留下評論：</label>
    <textarea class="form-control" id="text" name="text" rows="3"></textarea>
  </div>
  <input type="hidden" name="tutorId" value="{{tutor.id}}" />
  <button type="submit" class="btn btn-primary">Submit</button>
  <a class="btn btn-outline-secondary" href="javascript:history.back()">Back</a>
</form>