<div class="row mb-5">
  <div class="col-md-4">
    <img class="img-responsive center-block mb-5" src="{{tutor.image}}"
      style="width: 250px; transition: opacity 0.5s; opacity:0;" onload="this.style.opacity=1;">
    <div class="card-body">
      <h1><strong>本名：</strong>{{user.name}}</h1>
      <h1><strong>老師名：</strong>{{tutor.name}}</h1>
      <p><strong>Tel:</strong> {{tutor.tel}}</p>
      <p><strong>瀏覽次數:</strong> {{ tutor.viewCounts }}</p>
      <p><strong>評論數:</strong> - </p>  
      <strong>Nation</strong>
      <p style="white-space: break-spaces;">{{user.nation}}</p>
      <strong>About Me</strong>
      <p style="white-space: break-spaces;">{{user.aboutMe}}</p>
      <a class="btn btn-primary" href="/users/tutors/{{tutor.id}}/edit">edit</a>
      <a class="btn btn-outline-secondary" href="javascript:history.back()">Back</a>

    </div>
  </div>
  <div class="col-md-8">
    <h2>New Schedule</h2>
    <p style="white-space: break-spaces;"></p>
    <br>
    <h2>your introduction</h2>
    <p style="white-space: break-spaces;">{{tutor.introduction}}</p>
    <br>
    <h2>your teaching style</h2>
    <p style="white-space: break-spaces;">{{tutor.teachingStyle}}</p>
    <br>
    {{!-- Comment --}}
    <h2 class="mb-3">Lesson History</h2>
    {{#each tutor.Comments}}
    {{#if ../user.isAdmin}}
    <form action="/comments/{{this.id}}?_method=DELETE" method="POST" class="float-end">
      <button type="submit" class="btn btn-danger">Delete</button>
    </form>
    {{/if}}
    <blockquote class="blockquote mb-0">
      <h4><a href="/users/{{this.User.id}}">{{this.User.name}}</a></h4>
      <p>{{this.text}}</p>
      <footer class="blockquote-footer">{{relativeTimeFromNow this.createdAt}}</footer>
    </blockquote>
    <hr />
    {{/each}}
  </div>
</div>
